In [ ]:
# Import necessary libraries
import os
import shutil
from sklearn.model_selection import train_test_split
import pandas as pd

In [6]:
# Make Directories
train_folder = 'dataset/DatasetNinja_RDD2022_MIX/train'
img_folder = os.path.join(train_folder, 'img')
ann_folder = os.path.join(train_folder, 'ann')

train_output = 'datasets/yolo_dataset/train'
val_output = 'datasets/yolo_dataset/val'

train_img_output = os.path.join(train_output, 'images')
train_ann_output = os.path.join(train_output, 'annotations')
val_img_output = os.path.join(val_output, 'images')
val_ann_output = os.path.join(val_output, 'annotations')


for folder in [train_img_output, train_ann_output, val_img_output, val_ann_output]:
    if not os.path.exists(folder):
        os.makedirs(folder, exist_ok=True)

In [14]:
# Make list of iamges and annotations
images_files = [f for f in os.listdir(img_folder) if f.endswith('.jpg')]
ann_files = [f for f in os.listdir(ann_folder) if f.endswith('.json')]
images_files.sort()
ann_files.sort()

# Check if the number of images matches the number of annotations
assert len(images_files) == len(ann_files), "Number of images and annotations do not match"

In [ ]:
# Check all the image and their respective annotation file are there in the list
df = pd.DataFrame([images_files, ann_files])
df.T

                            0                              1
0      China_Drone_000035.jpg    China_Drone_000035.jpg.json
1      China_Drone_000041.jpg    China_Drone_000041.jpg.json
2      China_Drone_000209.jpg    China_Drone_000209.jpg.json
3      China_Drone_000211.jpg    China_Drone_000211.jpg.json
4      China_Drone_000228.jpg    China_Drone_000228.jpg.json
..                        ...                            ...
799  United_States_004538.jpg  United_States_004538.jpg.json
800  United_States_004555.jpg  United_States_004555.jpg.json
801  United_States_004573.jpg  United_States_004573.jpg.json
802  United_States_004725.jpg  United_States_004725.jpg.json
803  United_States_004780.jpg  United_States_004780.jpg.json

[804 rows x 2 columns]

In [9]:
#Split the dataset
train_images, val_images, train_ann, val_ann = train_test_split(images_files, ann_files, test_size=0.2, random_state=42)

In [10]:
#Checking the train
train_check = pd.DataFrame([train_images, train_ann])
train_check.T

                              0                                1
0              Japan_002550.jpg            Japan_002550.jpg.json
1              Japan_002863.jpg            Japan_002863.jpg.json
2              Japan_008205.jpg            Japan_008205.jpg.json
3              Japan_001713.jpg            Japan_001713.jpg.json
4              India_009143.jpg            India_009143.jpg.json
..                          ...                              ...
638  China_MotorBike_000866.jpg  China_MotorBike_000866.jpg.json
639            Czech_002142.jpg            Czech_002142.jpg.json
640            India_007978.jpg            India_007978.jpg.json
641            Japan_007557.jpg            Japan_007557.jpg.json
642            Czech_001998.jpg            Czech_001998.jpg.json

[643 rows x 2 columns]

In [11]:
# Checking the validation
val_check = pd.DataFrame([val_images, val_ann])
val_check.T

                            0                              1
0            India_003577.jpg          India_003577.jpg.json
1    United_States_000443.jpg  United_States_000443.jpg.json
2            India_002387.jpg          India_002387.jpg.json
3            Japan_012389.jpg          Japan_012389.jpg.json
4           Norway_000169.jpg         Norway_000169.jpg.json
..                        ...                            ...
156         Norway_006219.jpg         Norway_006219.jpg.json
157          Japan_003155.jpg          Japan_003155.jpg.json
158          Japan_012521.jpg          Japan_012521.jpg.json
159  United_States_001783.jpg  United_States_001783.jpg.json
160          Japan_012089.jpg          Japan_012089.jpg.json

[161 rows x 2 columns]

In [ ]:
# Copying the new split training images and their annotations files into new train folder
for img, ann in zip(train_images, train_ann):
    shutil.copy(os.path.join(img_folder, img), os.path.join(train_img_output, img))
    shutil.copy(os.path.join(ann_folder, ann), os.path.join(train_ann_output, ann))

In [ ]:
# Copying the new split validation images and their annotations files into new
for img, ann in zip(val_images, val_ann):
    shutil.copy(os.path.join(img_folder, img), os.path.join(val_img_output, img))
    shutil.copy(os.path.join(ann_folder, ann), os.path.join(val_ann_output, ann))